body {
    background-color: #202020;
    background-image: url('/static/image/newyork.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: row; 
}

.left {
    width: 50%;
    height: auto;
    padding-right: 2vw;
    flex-direction: column; 
    /* background-color: aqua; */
}

.right {
    width: 50%;
    height: auto;
    flex-direction: column; 
}

#hi {
    margin: 10vw;
    margin-right: 0vw;
    margin-bottom: 5vw;
}

#hi h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
    color: white;
    z-index: -1;
}

#hi p{
    z-index: 1;
    position: absolute;
    font-size: 1.7vw;
    margin-top: -4.5vw;
    margin-left: 2vw;
    letter-spacing: 0.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.forms {
    margin-left: 10vw;
}

.forms h3{
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5vw;
}

.forms p{
    font-size: 1vw;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.button {
    font-family: 'Oswald', sans-serif;
    background: white;
    font-size: 1vw;
}

.fill {
    color: black;
}

.stories {
    background-color: white;
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.5);
    margin-right: 10vw;
    margin-top: 10vw;
    padding: 3vw;
}

.stories h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5vw;
}

.stories pre{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    text-align: justify;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}